/* body {
  font-family:
} */

.navBar {
  display: flex;
}
.main-tabs {
  display: flex;
  justify-content: space-around;
}
.roadmap {
  display: flex;
  /* justify-content: space-around; */
}
.roadmap-tabs {
  display: flex;
  justify-content: space-around;
  width: 80%;
  height: 700px;
  background-color: lightgray;
  padding: 1%;
  margin-bottom: 2%;
}
.add-buttons {
  display: flex;
  flex-direction: column;
}
