/* body {
  font-family:
} */

.navBar {
  display: flex;
  justify-content: space-between;
  height: 45px;
}
.main-tabs {
  display: flex;
  justify-content: space-around;
}
.roadmap {
  display: flex;
  /* justify-content: space-around; */
}
.roadmap-tabs {
  display: flex;
  justify-content: space-around;
  width: 80%;
  height: 700px;
  background-color: #E4E6E8;
  padding: 1%;
  margin-bottom: 2%;
}
.add-buttons {
  display: flex;
  flex-direction: column;
}
.logo {
  height: 50px;
  width: 120px;
}
.search-icon {
  margin-top: 3%;
}
